* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  border: 5px solid green;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: aquamarine;
}

.hearder {
  border-bottom: 5px solid rgb(12, 11, 11);
  height: 200px;
  width: 500;
  text-align: center;
  background-color: brown;
}

.menu {
  border-bottom: 5px solid black;
  height: 100px;
  width: 500;
  text-align: center;
  background-color: aqua;
}


.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

.menu2 {
  border-right: 5px solid black;
  height: 200px;
  width: 500;
  text-align: center;
  background-color: rgb(88, 23, 149);
}

.content {
  border: 0px solid rgb(6, 7, 6);
  height: 200px;
  width: 500;
  text-align: center;
  background-color: blue;
}

.footer {
  border-top: 5px solid rgb(5, 5, 5);
  height: 200px;
  width: 500;
  text-align: center;
  background-color: yellow;
}

h1 {
  text-transform: capitalize;
}